 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Showcasing the past video projects of Peter Briggs, this site is a portfolio giving a look into the work of an aspiring videographer.</p>
                </div>
                <div class="col-lg-4">
                    <p>With a wide array of professional projects, the resume is constantly growing. If you would like to hire Peter out for a project, please contact him below.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>