 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My name is Peter Briggs and my passion is filming and video editing. Attending high school in Lexington, Kentucky, every spare moment of mine is spent shooting and editing short films with friends and family. Learning through youtube tutorials and enthusiastic film students, </p>
                </div>
                <div class="col-lg-4">
                    <p> I have slowly acquired a foundational knowledge on navigating and using Adobe After Effects, Premiere Pro, and many other products of that nature. Whether its making a short film with friends and family, or shootings Weddings and editing footage, film is my passion.  </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>