 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My name is Peter Briggs and my passion is filming and video editing. Attending high school in Lexington, Kentucky, every spare moment of mine is spent shooting and editing short films with friends and family. </p>
                </div>
                <div class="col-lg-4">
                    <p>  Whether its making a short film with friends and family, or shootings Weddings and editing footage, film is my passion. This website displays my work, ranging from promotional videos to short films.  </p>
                </div>
            </div>
        </div>
    </section>
